body {
  margin: 0;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #222222;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 15px;
  font-family: serif;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #f2f2f2;
  color: #222222;
  text-decoration: underline;
}

.myself {
  background-color: #7ac2cf;
  text-align: center;
  margin: 80px 15%;
  padding: 10px 30px;
}

.myself h2 {
  font-size: 40px;
  font-family: serif;
}

.myself p {
  font-family: Arial;
  font-size: 25px;
}

.cite {
  background-color: #7ac2cf;
  margin: 80px 15%;
  padding: 10px 30px;
  word-wrap: break-word;
}

.cite ol {
  font-size: 25px;
}

.footerbar {
  overflow: hidden;
  text-align: center;
  color: #f2f2f2;
  background-color: #367588;
  font-size: 15px;
  font-family: serif;
}

.footerbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

.footerbar a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

.copyright {
  padding: 15px;
  text-decoration: none;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}
